footer {
	background-color: white;
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p {
	height: 60px;
	line-height: 60px;
	margin: 0;
}
